<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header_footerMin.css">
    <link rel="stylesheet" href="/css/ProductAdd.css">
    <title>Crear Producto</title>
</head>
<body>
    <%- include("../partials/headerUsers") %>
    <main>

            <!-- Formulario para agregar productos nuevos a la base de datos -->

        <div class="container-prod-nuevo">
            <form method="POST" action="/productos/agregar" enctype="multipart/form-data">
                <div>
                    <label for="txtAddName">Nombre de producto:</label>
                    <input type="text" name="txtAddName" id="txtAddName">
                </div>
                <div>
                    <label for="txtAddDesc">Descripcion de producto:</label><br>
                    <textarea name="txtAddDesc" id="txtAddDesc" cols="30" rows="5"></textarea>
                </div>
                <div>
                    <label for="radioAddCat">Categoria del producto:</label><br>
                    <input type="radio" id="radioAddCat" name="radioAddCat" value="1">Hombre
                    <input type="radio" id="radioAddCat" name="radioAddCat" value="2">Mujer
                    <input type="radio" id="radioAddCat" name="radioAddCat" value="3">Infantil
                </div>
                <div>
                    <label for="numAddPrice">Precio del producto:</label><br>
                    <input type="number" id="numAddPrice" name="numAddPrice">
                </div>
                <div>
                    <label for="radioAddType">Tipo del producto:</label><br>
                    <input type="radio" id="radioAddType" name="radioAddType" value="1">Camiseta
                    <input type="radio" id="radioAddType" name="radioAddType" value="2">Pantalon
                    <input type="radio" id="radioAddType" name="radioAddType" value="3">Zapatillas
                    <input type="radio" id="radioAddType" name="radioAddType" value="4">Buzo
                </div>
                <div>
                    <label for="radioAddSize">Talle del producto:</label><br>
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="1">S
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="2">M
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="3">L
                    <br>
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="4">37
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="5">38
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="6">39
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="7">40
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="8">41
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="9">42
                    <input type="radio" id="radioAddSize" name="radioAddSize" value="10">43
                </div>
                <div>
                    <label for="txtAddWaist">Cm de cintura:</label><br>
                    <input type="text" id="txtAddWaist" name="txtAddWaist">
                </div>
                <div>
                    <label for="txtAddChest">Cm de Pecho:</label><br>
                    <input type="text" id="txtAddChest" name="txtAddChest">
                </div>
                <div>
                    <label for="txtAddBack">Cm de Espalda:</label><br>
                    <input type="text" id="txtAddBack" name="txtAddBack">
                </div>
                <div>
                    <label for="txtAddHeight">Altura:</label><br>
                    <input type="text" id="txtAddHeight" name="txtAddHeight">
                </div>
                <div>
                    <label for="radioAddCloth">Tela del producto:</label><br>
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="1">Algodon
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="2">Lycra
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="3">Neoprene
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="4">Jersey
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="5">Nylon
                    <input type="radio" id="radioAddCloth" name="radioAddCloth" value="6">Poliéster
                </div>
                <div>
                    <label for="radioAddColor">Color del producto:</label><br>
                    <input type="radio" id="radioAddColor" name="radioAddColor" value="1">Negro
                    <input type="radio" id="radioAddColor" name="radioAddColor" value="2">Blanco
                    <input type="radio" id="radioAddColor" name="radioAddColor" value="3">Rojo
                    <input type="radio" id="radioAddColor" name="radioAddColor" value="4">Azul
                </div>
                <div>
                    <label for="txtAddCode">Codigo de producto:</label><br>
                    <input type="text" id="txtAddCode" name="txtAddCode">
                </div>
                <div>
                    <label for="imgAddimage">Fotos de producto:</label><br>
                    <input type="file" id="imgAddimage" name="imgAddimage" accept=".jpg, .jpeg, .png, .svg" multiple>
                </div>
                <div>
                    <button type="submit">Añadir Producto</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footerUsers") %>
</body>
</html>