<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ProductAdded.css">
    <title>Producto Agregado</title>
</head>
<!-- Este es el endpoint donde llegan los productos añadidos (/products/add) -->
<body>
    <main>
        <div class="container">
            <h2>Producto agregado.</h2>
        </div>
        <div class="enlace">
            <a href="/">Volver al inicio</a>
        </div>
    </main>
</body>
</html>
</html>