<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/ProductCartPrueba.css">
    <title>Todo deportes</title>
</head>

<body>
    <%- include("../partials/header") %> 
    <div><h2 class="subtitulo">Envio Gratis y 12 Cuotas Sin Interes</h2></div>
    <main>
        <div id="fondo">
                <div class="bloque">                
                    <img class="imagen-producto" src="/images/ProductCart/compra1.jpg" alt="Imagen producto">
                    <div class="descripcion-producto">CAMISETA TITULAR ROSARIO CENTRAL</div>
                    <div class="botones">
                        <button class="button-cantidad">+</button>
                        <button class="acumulador">1</button>
                        <button class="button-cantidad">-</button>
                    </div>
                    <div class="precio">$ 10.000</div>
                    <button class="button-eliminar">Eliminar</button>          
                </div>
                <div class="bloque"> 
                    <img class="imagen-producto" src="/images/ProductCart/compra2.jpg" alt="Imagen producto">
                    <div class="descripcion-producto">SHORT TITULAR ROSARIO CENTRAL</div>
                    <div class="botones">
                        <button class="button-cantidad">+</button>
                        <button class="acumulador">1</button>
                        <button class="button-cantidad">-</button>
                    </div>
                    <div class="precio">$ 8.000</div> 
                    <button class="button-eliminar">Eliminar</button>
                </div>

                <div class="codigo">
                    Tienes un codigo de descuento?
                    <input type="text" name="codigo" id="codigo" placeholder="Codigo">
                    <button class="aplicar">Aplicar</button>
                </div>

                <div class="forma-de-pago">
                    <a> 12 cuotas sin interes de $ 1.500</a> 
                    <img class="tarjeta" src="/images/ProductCart/visa.jpg" alt="tarjeta">                    
                    <img class="tarjeta" src="/images/ProductCart/master.jpg" alt="tarjeta">
                    <img class="tarjeta" src="/images/ProductCart/cabal.jpg" alt="tarjeta">
                </div>

                <div class="total">
                    Total a Abonar
                    <div class="monto">$ 18.000</div>
                    <button class="finalizar">Finalizar Compra</button>
                </div>

            
            <h2 class="main-recomendado">Otros Clientes Tambien Vieron</h2>
            <section class="main-temporada">
                <article>
                    <img class="main-imagen-producto" src="/images/ProductCart/productoa.jpg" alt="Imagen producto">
                    <div class="main-texto-temporada">Ir al producto</div>
                    <div class="main-temporada-contenedor-boton"><a href="/"><button class="main-temporada-boton">Ir al producto</button></a></div>
                </article>
                <article>
                    <img class="main-imagen-producto" src="/images/ProductCart/productob.jpg" alt="Imagen producto">
                    <div class="main-texto-temporada">Ir al producto</div>
                    <div class="main-temporada-contenedor-boton"><a href="/"><button class="main-temporada-boton">Ir al producto</button></a></div>
                </article>
                <article>
                    <img class="main-imagen-producto" src="/images/ProductCart/productoc.jpg" alt="Imagen producto">
                    <div class="main-texto-temporada">Ir al producto</div>
                    <div class="main-temporada-contenedor-boton"><a href="/"><button class="main-temporada-boton">Ir al producto</button></a></div>
                </article>
                <article>
                    <img class="main-imagen-producto" src="/images/ProductCart/productod.jpg" alt="Imagen producto">
                    <div class="main-texto-temporada">Ir al producto</div>
                    <div class="main-temporada-contenedor-boton"><a href="/"><button class="main-temporada-boton">Ir al producto</button></a></div>
                </article>
            </section>
    </main>
    <%- include("../partials/footer") %> 
</body>

</html>