*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header-contenedor{
    display: flex;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #ede734;
    justify-content: center;
    align-items: center;
}

.header-contenedor nav{
    display: flex;
    justify-content: center;
}

.header-barra-de-busqueda{
    display: none;
}

.header-categorias{
    display: none;
}

.header-icono{
    width: 30%;
}

.header-hamburguesa{
    width: 30%;
}

.header-logo{
    width: 30%;
}

main h2{
    text-align: center;
    font-size: 24px;
}

.main-producto-destacado div{            /*Esto es para el placeholder del carousel de productos, todavia no se como se hace :D*/
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.main-producto-destacado-imagen{            /*Esto es para el placeholder del carousel de productos, todavia no se como se hace :D*/
    width: 90%;
}

.main-temporada{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.main-temporada article{
    width: 70%;
    margin: 10px;
    position: relative;
    text-align: center;
}

.main-imagen-producto{
    width: 80%;
    border: 1px solid black;
}

.main-texto-temporada{
    font-size: 20px;
    font-weight: 600;
}

.main-categorias-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
}

.main-categorias-contenedor div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px;
    margin: 10px;
}

.main-categorias-flecha{
    width: 10%;
}

.main-descuento{
    background-color: #ede734;
    margin: 0px 10px;
    padding: 10px;
}

.main-descuento-texto{
    padding: 15px;
    font-size: 22px;
    font-weight: 800;
}

.main-descuento-contenedor{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    font-size: 22px;
    padding: 15px;
    width: auto;
    margin: 0px 20px 10px 20px;
    text-align: center;
}

.main-volver-arriba{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.main-volver-arriba div{
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    width: 60%;
    padding: 15px;
    margin: 10px 0px;
}

.main-volver-arriba-flecha{
    width: 10%;
}

.footer-contenedor-exterior-mobile{
    display: flex;
    justify-content: center;
    background-color: #b0b0b0;
    padding: 10px 0px;
    margin: 10px 0px;
}

.footer-contenedor{
    border: 1px solid #000;
    width: 95%;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

.footer-contenedor li{
    list-style-position: inside;
}

.footer-contenedor div{
    padding-top: 10px;
    font-size: 18px;
}

.footer-contenedor-exterior-tablet-pc{
    display: none;
}

@media (min-width: 380px){                  /*Aca empieza la resolucion de TABLET*/

    .header-logo{
        width: 15%;
    }
    
    .header-icono{
        width: 30%;
    }

    .header-barra-de-busqueda{
        display: flex;
        width: 80%;
        background-color: #fff;
        border: 1px solid #000;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        padding: 1%;
        margin-left: 35px;
    }

    .header-barra-de-busqueda-lupa{
        display: block;
        width: 1rem;
    }

    .header-categorias{
        display: none;
    }

    .footer-contenedor-exterior-mobile{
        display: none;
    }

    .footer-contenedor-exterior-tablet-pc{
        display: flex;
        background-color: #b0b0b0;
        border: 1px solid #000;
        text-align: center;
        justify-content: space-around;
        padding: 5px 0px;
    }

    .footer-contenedor-exterior-tablet-pc div{
        padding: 7px;
        text-align: left;
    }

    .footer-contenedor-exterior-tablet-pc h3{
        text-align: center;
    }

    .footer-contenedor-exterior-tablet-pc hr{
        border-color: #000;
        width: 90%;
        margin: auto;
        margin: 7px;
    }
    
    .footer-contenedor-email{
        border: 1px solid #000;
        background-color: #fff;
        color: #b0b0b0;
        margin: 5px 0px 10px 0px;
        width: 80%;
    }

    .footer-contenedor-newsletter-redes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }

    .footer-contenedor-redsocial{
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .footer-contenedor-redsocial-icono{
        width: 15%;
    }

}

@media (min-width: 834px){                    /*Aca empieza la resolucion de PC*/

    .header-hamburguesa{
        display: none;
    }

    .header-contenedor{
        padding: 0px 20px;
    }

    .header-categorias{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        font-size: 1.5rem;
        width: 50%;
    }

    .header-categorias div{
        padding: 10px;
    }

    .footer-contenedor-exterior-tablet-pc h3{
        font-size: 1.5rem;
    }

    .footer-contenedor-exterior-tablet-pc div{
        font-size: 20px;
    }

    .footer-contenedor-redsocial-icono{
        width: 10%;
    }
}