*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

                                                           /*Code MAIN*/

main{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 15px 0px;
    padding: 10px 5px;
}

.contenedor hr{
    width: 80%;
    color: rgb(70, 70, 70);
    margin: 10px 0px;
}

.err-credenciales{
    font-size: 1.2rem;
    color: #000;
    padding: 5px;
    margin: 5px 0px 15px 0px;
}

.formulario-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-div-texto input:required{
    border: 1px solid rgb(255, 65, 65);
}

.form-div-texto input:valid{
    border: 1px solid #000;
}

.chkRemember{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

.formulario-contenedor input{
    display: block;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 0px;
}

.contenedor-submit{
    width: 80%;
}

.contenedor-submit button{
    background-color: #5c5cff;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    padding: 6px;
    width: 100%;
    margin: 10px 0px;
}

.recuperar-contraseña{
    margin: 10px 0px;
}

main h4{
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0px 10px 0px;
}

@media (min-width: 380px){                     /*380PX*/

    .formulario-contenedor div{
    margin: 10px 0px;
    }

    .contenedor-submit button{
        width: 50%;
    }

    .chkRemember{
        width: 50%;
    }

    .form-div-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .form-div-texto input{
        width: 50%;
    }

}

@media (min-width: 834px){                      /*834PX*/

    .contenedor{
        width: 40%;
    }

    .err-credenciales{
        margin: 15px 0px 15px 0px;
    }

    a{
        margin: 15px 0px;
    }

    main{
        margin: 20px 0px 20px 0px;
    }

    .contenedor-submit button{
        width: 40%;
    }

    .chkRemember{
        width: 50%;
    }

    .form-div-texto input{
        width: 50%;
    }

}