*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #ede734;
    margin: 2px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    width: 30%;
}

body{
    font-size: 1.2rem;
}

h2{
    margin: 15px 0px;
    text-align: center;
    }

.container-prod-nuevo{
    text-align: center;
}

.container-prod-nuevo div{
    margin: 30px 0px;
}

.container-prod-nuevo label{
    font-weight: 600;
    font-size: 1.2rem;
}

.container-prod-nuevo input{
    text-align: center;
    padding: 5px;
    margin: 7px 4px 0px 4px;
    font-size: 1rem;
}

.container-prod-nuevo textarea{
    padding: 5px;
}

.container-prod-nuevo button{
    margin: 15px 0px;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    background-color: #5c5cff;
    color: #fff;
    border-radius: 5px;
}

footer{
    margin: 0px 3px 3px;
}

.footer-contenedor-exterior-mobile{
    display: flex;
    justify-content: center;
    background-color: #b0b0b0;
    padding: 10px 0px;
    margin: 10px 0px;
}

.footer-contenedor{
    border: 1px solid #000;
    width: 95%;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

.footer-contenedor li{
    list-style-position: inside;
}

.footer-contenedor div{
    padding-top: 10px;
    font-size: 18px;
}

.footer-contenedor-exterior-tablet-pc{
    display: none;
}

.footer-contenedor-exterior-mobile{
    display: flex;
    justify-content: center;
    background-color: #b0b0b0;
    padding: 10px 0px;
    margin: 10px 0px;
}

.footer-contenedor{
    border: 1px solid #000;
    width: 95%;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

.footer-contenedor li{
    list-style-position: inside;
}

.footer-contenedor a{
    text-decoration: none;
    color: #000;
}

.footer-contenedor div{
    padding-top: 10px;
    font-size: 18px;
}

.footer-contenedor-exterior-tablet-pc{
    display: none;
}

@media (min-width: 380px){                                              /*MEDIA 380PX*/

    .header-logo{
        width: 18%;
    }

    .footer-contenedor-exterior-mobile{
        display: none;
    }

    .footer-contenedor-enlaces a{
        color:#000;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 200ms;
    }

    .footer-contenedor-enlaces a:hover{
        border-bottom: 1px solid #000;
    }

    .footer-contenedor-exterior-tablet-pc{
        display: flex;
        background-color: #b0b0b0;
        border: 1px solid #000;
        text-align: center;
        justify-content: space-around;
        padding: 5px 0px;
    }

    .footer-contenedor-exterior-tablet-pc div{
        padding: 7px;
        text-align: left;
        font-size: 1.2rem;
    }

    .footer-contenedor-exterior-tablet-pc h3{
        text-align: center;
    }

    .footer-contenedor-exterior-tablet-pc hr{
        border-color: #000;
        width: 90%;
        margin: auto;
        margin: 7px;
    }

}

@media (min-width: 834px){                                                   /*MEDIA 834PX*/
    
    .header-logo{
        width: 7%;
    }

    .footer-contenedor-exterior-tablet-pc h3{
        font-size: 1.5rem;
    }

    .footer-contenedor-exterior-tablet-pc div{
        font-size: 20px;
        flex-grow: 0.3;
        text-align: center;
    }

}