*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
}

h2{
    margin: 15px 0px;
    text-align: center;
    }

.erroresValidation{

    margin-top: 15px;
    font-weight: 500;
    color: #ff5151;
    padding: 4px;
    width: 100%;
    text-align: center;
    
}

.erroresInput{

    font-weight: 500;
    color: #ff5151;
    text-align: center;

}

.container-prod-nuevo{
    text-align: center;
}

.container-prod-nuevo div{
    margin: 30px 0px;
}

.container-prod-nuevo label{
    font-weight: 600;
    font-size: 1.2rem;
}

.container-prod-nuevo input{
    text-align: center;
    padding: 5px;
    margin: 7px 4px 0px 4px;
    font-size: 1rem;
}

.container-prod-nuevo textarea{
    padding: 5px;
}

.container-prod-nuevo button{
    margin: 15px 0px;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    background-color: #5c5cff;
    color: #fff;
    border-radius: 5px;
}