*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    margin: 100px auto;
    padding: 50px;
    text-decoration: none;
}

.enlace{
    text-align: center;
    margin: 100px auto;
    padding: 50px;
}

.enlace a{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 30px;
}

@media (min-width: 834px){
    .container{
        width: 50%;
    }
}