*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main*/ 
main{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* Resumen*/
.resumen{
    display:flex;
    font-size: 10px;
    margin-top: 40%;
    margin-bottom: 10px;
}
.separadores{
    padding-left: 10px;
    padding-right: 10px;
}
.producto{
    font-weight: bold;
}

/* Imagenes*/
/* Imagen principal*/
.container-principal{
    text-align: center;
}
.imagen-principal{
    width: 100%;
}


/* Imagenes secundarias*/
.container-secundarias{
    display: flex;
    width: 100%;
    margin-top: 3%;
    box-sizing: content-box;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15%;
}
.imagen-secundaria1{
    width: 25%;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    margin-right: 5%;
}
.imagen-secundaria2{
    width: 25%;
}
.imagen-secundaria3{
    width: 25%;
    margin-left: 5%;
}

/* Data */
/* Colores*/
.titulo{
    padding-bottom: 1%;
    font-size: 20px;
}
.colores{
    font-size: 20px;
}
.imagen-secundaria4{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 25%;
    margin-right: 1%;
}
.imagen-secundaria5{
    width: 25%;
}
.color{
    font-size: 12px;
    position: relative;
    top: -1px;
}
.colores1{
    display: none;
}

.descripcion-producto h3{
    margin: 15px 0px;
}

/* Nombre y precio*/
.nombre{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
}
.precio{
    font-size: 22px;
    padding-bottom: 5%;
    font-style: italic;
}

/* Talles*/
.titulo-talle{
    font-size: 20px;
    padding-bottom: 2%;
}
.talles-disp{
    list-style: none;
    display: flex;
    font-size: 20px;
}
.talle-S{
    width: 20%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    height: 50px;
}
.talle-M{
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: groove 0.5px #ebebeb;
    height: 50px;
}
.talle-X{
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: groove 0.5px #ebebeb;
    height: 50px;
}
.talle-XL{
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: groove 0.5px #ebebeb;
    height: 50px;
}
.letra{
    position: relative;
    bottom: -25%;
}
.guia-talles{
    font-size: 11px;
    text-decoration: underline;
    color: #3cbdaf; 
    padding-top: 0.5%;
}

/* Añadir a carrito*/
.añadir-carrito{
    text-align: center;
    margin-top: 7.5%;
}
main button{
    width: 65%;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: #3cbdaf;
    border-radius: 50px;
    border: none;
}
/* Detalles producto*/
.detalles{
    margin-top: 15%;
}

.detalles div{
    margin: 10px 0px;
}

.titulo-detalle{
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 3%;
}
.sub-titulo{
    font-size: 20px;
    padding-bottom: 1.5%;
    padding-top: 2.5%;
}
.sub-detalles{
    display: flex;
    font-size:12px;
    padding-bottom: 0.5%;
}
.width{
    width: 15%;
}
.width2{
    width: 35%;
}

/* Agregaciones*/
hr{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Tablet*/
@media (min-width: 380px){
    .resumen {
        display: flex;
        font-size: 14px;
        margin-top: 25%;
        margin-bottom: 10px;
    }
    .colores1{
        display: none;
    }

    .descripcion-producto{
        font-size: 1.3rem;
    }

    .sub-detalles{
        font-size: 1rem;
    }

}

@media (min-width: 834px){
   /* Resumen*/
   .resumen{
    display:flex;
    font-size: 22px;
    margin-top: 12%;
    margin-bottom: 2%;
}
.container-izq-der{
    display: flex;
    width: 100%;
}
.container-izq{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
}
.container-principal{
    text-align: center;
    width: 100%;
}
.container-secundarias{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0%;
    width: 20%;
}
.imagen-principal{
    width: 95%;
}
.imagen-secundaria1{
    margin-right: 0%;
    width: 100%;
    margin-bottom: 3%;

}
.imagen-secundaria2{
    width: 100%;

}
.imagen-secundaria3{
    margin-left: 0%;
    width: 100%;
    margin-top: 3%;
}
.container-der{
    width: 40%;
}
.hr1{
    display: none;
}
.nombre{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
}
.precio{
    padding-bottom: 15%;
    font-size: 28px;
}
/* Talles*/
.titulo-talle{
font-size: 26px;
padding-bottom: 2%;
}
.talles-disp{
list-style: none;
display: flex;
font-size: 20px;
}
.talle-S{
    width: 20%;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    height: 44px;
}
.talle-M{
width: 20%;
text-align: center;
font-size: 20px;
border: groove 0.5px #ebebeb;
height: 44px;
}
.talle-X{
width: 20%;
text-align: center;
font-size: 20px;
border: groove 0.5px #ebebeb;
height: 44px;
}
.talle-XL{
width: 20%;
text-align: center;
font-size: 20px;
border: groove 0.5px #ebebeb;
height: 44px;
}
.letra{
position: relative;
bottom: -25%;
}
.guia-talles{
font-size: 16px;
text-decoration: underline;
color: #3cbdaf; 
padding-top: 0.5%;
}
/* Añadir a carrito*/
.añadir-carrito{
text-align: center;
margin-top: 3%;
}
main button{
    width: 80%;
    height: 46px;
    font-size: 18px;
    color: white;
    background-color: #3cbdaf;
    border-radius: 50px;
    border: none;
    margin-bottom: 15%;
    margin-top: 5%;
}
/* Colores*/
.titulo{
padding-bottom: 1%;
font-size: 24px;
}
.colores1{
font-size: 20px;

}
.imagen-secundaria4{
box-shadow: 0px 0px 10px rgb(100, 100, 100);
width: 25%;
margin-right: 1%;
}
.imagen-secundaria5{
width: 25%;
}
.color{
font-size: 12px;
position: relative;
top: -1px;
}
.colores{
display: none;
}
.colores1{
    display: block;
}

/* Detalles producto*/
.detalles{
margin-top: 0%;
}
.titulo-detalle{
font-size: 28px;
font-weight: 900;
padding-bottom: 0%;
}
.sub-titulo{
font-size: 24px;
padding-bottom: 1.5%;
padding-top: 2.5%;
}
.sub-detalles{
display: flex;
font-size:20px;
padding-bottom: 0.5%;
}
.width{
width: 20%;
}
.width2{
width: 20%;
}

/* Agregaciones*/
hr{
margin-top: 5%;
}

}
