*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.erroresValidation{

    margin-top: 15px;
    font-weight: 500;
    color: #ff5151;
    padding: 4px;
    width: 100%;
    text-align: center;
    
}

.erroresInput{

    font-weight: 500;
    color: #ff5151;
    text-align: center;

}

main h2{
    margin: 25px 0px;
    text-align: center;
    font-size: 1.5rem;
}

.container{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container label{
    font-size: 1.3rem;
    text-align: center;
}

.container input{
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px auto;
    width: 70%;
}

.container button{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto 0px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #5c5cff;
    width: 30%;
}

@media (min-width: 380px){
    main{
        margin: 100px 0px;
    }
    .container button{
        width: 20%;
    }
}

@media (min-width: 834px){
    .container input{
        width: 40%;
    }
    main{
        margin: 150px 0px;
    }
    .container button{
        width: 10%;
    }
}