*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

                                                             /* ACA EMPIEZA LA SECCION MAIN */

main h1{
    text-align: center;
    margin: 10px;
}

.formulario-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-container input{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    margin-top: 5px;
}

.formulario-container label{
    font-size: 1.3rem;
    font-weight: 500;
}

.formulario-container-div-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.formulario-container-div-texto select{
    font-size: 1rem;
    text-align: center;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    width: 80%;
}

.formulario-container-div-texto input:required{
    border: 1px solid rgb(255, 65, 65);
}

.formulario-container-div-texto input:valid{
    border: 1px solid #000;
}

.formulario-container-div-radio-sex{
    text-align: center;
    margin: 10px 0px;
    width: 30%;
}

.formulario-container-div-radio-sex div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    margin: 15px 0px;
}

.formulario-container-div-checkbox-newsletter{
    margin: 10px 0px;
}

.formulario-container-div-checkbox-newsletter input{
    margin-left: 15px;
}

.formulario-container-div-checkbox-terms{
    margin: 10px 0px;
    width: 90%;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.formulario-container-div-checkbox-terms a{
    text-decoration: none;
    color: #5c5cff;
}

.formulario-container-div-checkbox-terms a:visited{
    color: #5c5cff;
}

.formulario-container-div-botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.formulario-container-div-botones button{
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #5c5cff;
    margin: 10px 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

@media (min-width: 380px){                                              /*MEDIA 380PX*/

    .formulario-container{
        align-items: unset;
    }

    .formulario-container-div-texto input{
        width: 50%;
    }

    .formulario-container-div-texto select{
        width: 60%;
    }

    .formulario-container-div-radio-sex{
        align-self: center;
    }

    .formulario-container-div-checkbox-newsletter{
        align-self: center;
    }

    .formulario-container-div-checkbox-terms{
        align-self: center;
    }

}

@media (min-width: 834px){                                                   /*MEDIA 834PX*/

    .formulario-container-div-texto input{
        width: 35%;
        margin: 8px;
    }

    .formulario-container-div-texto select{
        width: 35%;
    }

    .formulario-container-div-radio-sex{
        width: 10%;
    }

}