*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#div-general{
    display: flex;
    flex-direction: row;
}

.hr-general{
    width: 80%;
    color: rgb(36, 36, 36);
    border: 1px solid rgb(36, 36, 36);
    margin: 20px auto 20px ;
}

#div-barra-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 18%;
    background-color: #ede734;
    height: 100vh;
}

.barra-lateral-logo{
    width: 50%;
}

.div-separador-barra-lateral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dashboard-a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
}

.container-enlace-navBar{
    margin: 10px auto 30px;
}

#div-main-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

#div-main-container h1{
    text-align: center;
}

#mc-div-container-tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;
}

.div-subtarjetas{
    border-radius: 5px;
    padding: 15px;
}

.div-subtarjetas p{
    font-size: 1.3rem;
    margin: 10px auto;
}

#div-container-bottomRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#container-ultimo-producto{
    width: 48%;
}

#container-ultimo-producto a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#container-ultimo-producto h3{
    margin: 40px auto 0px;
}

#container-ultimo-producto h4{
    background-color: #ede734;
    text-align: center;
    padding: 3px;
    width: 75%;
}

#container-ultimo-producto p{
    margin: 20px auto 35px;
}

#container-ultimo-usuario{
    width: 40%;
}

#container-ultimo-usuario h4{
    margin: 0px auto 40px;
    background-color: #ede734;
    text-align: center;
    padding: 3px;
    width: 75%;
}

#container-ultimo-usuario p{
    margin: 10px auto 20px;
}

#container-ultimo-usuario a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

#div-categoriasProductos-container h3{
    text-align: center;
    margin: 60px auto 30px;
    background-color: #ede734;
    text-align: center;
    padding: 3px;
    width: 35%;
}

#div-categoriasProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
}

.container-link-categorias{
    padding: 10px;
    background-color: #6c6cff;
    border-radius: 4px;
}

.container-link-categorias a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-size: 1.2rem;
    font-weight: 600;
}

#container-product-list{
    width: 100%;
}

#container-product-list h1{
    margin: 50px auto;
    text-align: center;
    padding: 3px;
    background-color: #ede734;
    width: 40%;
    border-radius: 5px;
}

#container-ul-product-list ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#container-ul-product-list li{
    margin: 10px auto;
}

#container-li-product-list{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.hr-product-list{
    margin: 0px 20px;
    color: #000;
    border: 1px solid rgb(69, 69, 69);
}

#container-display-categorias{
    width: 100%;
}

#container-selecciona-categoria{
    margin: 100px auto;
    text-align: center;
}

#container-categorias-list{
    width: 100%;
}

#container-product-user-detail{
    margin: 40px auto;
    text-align: center;
}

#div-product-user-detail{
    margin: 30px auto;
}

.product-user-detail-descripcion{
    width: 40%;
    margin: 0px auto;
}

.hr-detail{
    width: 50%;
    color: rgb(36, 36, 36);
    border: 1px solid rgb(36, 36, 36);
    margin: 20px auto 20px ;
}

#footer-Container{
    position: absolute;
    bottom: 5%;
    color: rgb(105, 105, 105);
    font-size: 0.8rem;
    text-align: center;
    width: 80vw;
}

@media (max-width: 1200px){

    #div-general{
        display: flex;
        flex-direction: column;
    }

    #div-barra-lateral{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 15vh;
    }

    .barra-lateral-logo{
        width: 100%;
    }

    .hr-general{
        display: none;
    }

    .div-separador-barra-lateral{
        width: 12%;
    }

    #div-container-enlaces-navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-enlace-navBar{
        margin: auto 20px;
    }

    #footer-Container{
        position: relative;
        color: rgb(105, 105, 105);
        font-size: 0.8rem;
        text-align: center;
        width: 80vw;
        margin: 40px auto 0px;
    }

}

@media (max-width: 650px){

    /* *{
        outline: #6c6cff 1px solid;
    } */

    .div-separador-barra-lateral{
        width: 20%;
    }

    #div-categoriasProductos-container h3{
        width: 85%;
    }

    .container-link-categorias{
        margin: auto 15px;
    }

    #div-container-enlaces-navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #mc-div-container-tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 40px auto;
    }

    .div-subtarjetas{
        margin: 5px 20%;
    }

    #container-product-list h1{
        margin: 50px auto;
        width: 70%;
        font-size: 1.4rem;
    }

    #container-ul-product-list{
        width: 90%;
        margin: 0px auto;
        justify-content: space-around;
    }

}