*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#div-general{
    display: flex;
    flex-direction: row;
}

.hr-general{
    width: 80%;
    color: rgb(36, 36, 36);
    border: 1px solid rgb(36, 36, 36);
    margin: 20px auto 20px ;
}

#div-barra-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 18%;
    background-color: #ede734;
    height: 100vh;
}

.barra-lateral-logo{
    width: 50%;
}

.div-separador-barra-lateral{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dashboard-a{
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
}

.container-enlace-navBar{
    margin: 10px auto 30px;
}

#div-main-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

#div-main-container h1{
    text-align: center;
}

#mc-div-container-tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;
}

.div-subtarjetas{
    border-radius: 5px;
    padding: 15px;
}

.div-subtarjetas p{
    font-size: 1.3rem;
    margin: 10px auto;
}

#div-container-bottomRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#container-ultimo-producto{
    width: 48%;
}

#container-ultimo-producto a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#container-ultimo-producto h3{
    margin: 40px auto 0px;
}

#container-ultimo-producto h4{
    background-color: #ede734;
    text-align: center;
    padding: 3px;
    width: 75%;
}

#container-ultimo-producto p{
    margin: 20px auto 35px;
}

#container-ultimo-usuario{
    width: 40%;
}

#container-ultimo-usuario h4{
    margin: 0px auto 40px;
    background-color: #ede734;
    text-align: center;
    padding: 3px;
    width: 75%;
}

#container-ultimo-usuario p{
    margin: 10px auto 20px;
}

#container-ultimo-usuario a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}