<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Index.css">
    <title>Todo deportes</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <nav><img class="icono-header" src="/images/index/menu-hamburguesa.svg" alt="menu hamburguesa"></nav>
            <img class="logo-header" src="/images/index/logo-placeholder.png" alt="logo pagina">
            <nav><img class="icono-header" src="/images/index/carrito-de-compras.svg" alt="Carrito de compras"></nav>
            <nav><img class="icono-header" src="/images/index/user.svg" alt="Usuario"></nav>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>