<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Index.css">
    <title>Todo deportes</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <nav><img class="icono-header" src="/images/index/menu-hamburguesa.svg" alt="menu hamburguesa"></nav>
            <img class="logo-header" src="/images/logo-tododeportes.png" alt="logo pagina">
            <nav><img class="icono-header" src="/images/index/carrito-de-compras.svg" alt="Carrito de compras"></nav>
            <nav><img class="icono-header" src="/images/index/user.svg" alt="Usuario"></nav>
        </div>
    </header>
    <main>
        <section class="main-producto-destacado">    <!--Esto es para el placeholder del carousel de productos, todavia no se como se hace :D-->
            <div>
                <img class="main-producto-destacado-imagen" src="/images/index/producto-placeholder.png" alt="carousel de productos">
            </div>
        </section>
        <h2>Temporada 2021/22</h2>
        <section class="main-temporada">
            <article>
                <img class="main-imagen-producto" src="/images/index/producto-placeholder.png" alt="Imagen producto">
                <div class="main-texto-temporada">Ir al producto</div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/index/producto-placeholder.png" alt="Imagen producto">
                <div class="main-texto-temporada">Ir al producto</div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/index/producto-placeholder.png" alt="Imagen producto">
                <div class="main-texto-temporada">Ir al producto</div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/index/producto-placeholder.png" alt="Imagen producto">
                <div class="main-texto-temporada">Ir al producto</div>
            </article>
        </section>
        <h2>Categorías</h2>
        <section class="main-categorias-contenedor">
            <div>Hombres<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div>
            <div>Mujeres<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div>
            <div>Infantil<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div>
        </section>
        <section class="main-descuento">
            <h2 class="main-descuento-texto">Registrate y conseguí 15% de descuento</h2>
            <div class="main-descuento-contenedor">
                Registrarse ahora
            </div>
        </section>
        <section class="main-volver-arriba">
            <div>Volver al inicio<img class="main-volver-arriba-flecha" src="/images/index/flecha-arriba.svg" alt="flecha arriba"></div>
        </section>
    </main>
    <footer>
        <div class="footer-contenedor-exterior">
            <div class="footer-contenedor">
                <ul>
                    <li>Terminos y condiciones</li>
                    <li>Cambios y devoluciones</li>
                    <li>Contacto</li>
                    <li>Compañía</li>
                </ul>
                <div>Copyright 2022, all rights reserved.</div>
            </div>
        </div>
    </footer>
</body>
</html>