<!-- Footer de la seccion de users: views/partials/footerUsers -->

<footer>
    <div class="footer-contenedor-exterior-mobile">
        <div class="footer-contenedor">
            <ul>
                <li><a href="/">Terminos y condiciones</a></li>
                <li><a href="/">Cambios y devoluciones</a></li>
                <li><a href="/">Contacto</a></li>
                <li><a href="/">Compañía</a></li>
            </ul>
            <div>Copyright 2022, all rights reserved.</div>
        </div>
    </div>
    <div class="footer-contenedor-exterior-tablet-pc">
        <div class="footer-contenedor-enlaces">
            <h3>Ayuda</h3>
            <hr>
            <div><a href="/">Cambios y devoluciones</a></div>
            <div><a href="/">Terminos y condiciones</a></div>
            <div><a href="/">Preguntas frecuentas</a></div>
        </div>
        <div class="footer-contenedor-enlaces">
            <h3>Acerca de</h3>
            <hr>
            <div><a href="/">Contacto</a></div>
            <div><a href="/">Compañia</a></div>
            <div><a href="/">Empleos</a></div>
        </div>
    </div>
</footer>