<!-- Footer: views/partials/footer.ejs -->

<footer>
    <div class="footer-contenedor-exterior-mobile">
        <div class="footer-contenedor">
            <ul>
                <li><a href="/">Terminos y condiciones</a></li>
                <li><a href="/">Cambios y devoluciones</a></li>
                <li><a href="/">Contacto</a></li>
                <li><a href="/">Compañía</a></li>
            </ul>
            <div>Copyright 2022, all rights reserved.</div>
        </div>
    </div>
    <div class="footer-contenedor-exterior-tablet-pc">
        <div class="footer-contenedor-enlaces">
            <h3>Ayuda</h3>
            <hr>
            <div><a href="/">Cambios y devoluciones</a></div>
            <div><a href="/">Terminos y condiciones</a></div>
            <div><a href="/">Preguntas frecuentas</a></div>
        </div>
        <div class="footer-contenedor-enlaces">
            <h3>Acerca de</h3>
            <hr>
            <div><a href="/">Contacto</a></div>
            <div><a href="/">Compañia</a></div>
            <div><a href="/">Empleos</a></div>
        </div>
        <div class="footer-contenedor-newsletter-redes">
            <h3>Nuestro newsletter</h3>
            <form action="/" method="post">
                <label for="mailNewsletter"></label>
                <input class="footer-contenedor-newsletter-input" type="email" name="mailNewsletter" id="mailNewsletter" placeholder="Email">
                <button class="footer-contenedor-newsletter-boton" type="submit">Enviar</button>
            </form>
            <h3>Redes sociales</h3>
            <div class="footer-contenedor-redsocial">
                <img class="footer-contenedor-redsocial-icono" src="/images/index/facebook.svg" alt="Icono red social">
                <img class="footer-contenedor-redsocial-icono" src="/images/index/instagram.svg" alt="Icono red social">
                <img class="footer-contenedor-redsocial-icono" src="/images/index/twitter.svg" alt="Icono red social">
                <img class="footer-contenedor-redsocial-icono" src="/images/index/tiktok.svg" alt="Icono red social">
            </div>
        </div>
    </div>
</footer>