<!-- Header de la seccion de users: views/partials/headerUsers -->

<header>
    <a href="/">
        <div class="header-container">
            <img class="header-logo" src="/images/logo-tododeportes.png" alt="logo">
        </div>
    </a>
</header>