<!-- Header: views/partials/header.ejs -->

<header>
    <div class="header-contenedor">
        <nav><img class="header-hamburguesa" src="/images/index/menu-hamburguesa.svg" alt="menu hamburguesa"></nav>
        <a class="a-imagen-header" href="/"><img class="header-logo" src="/images/logo-tododeportes.png" alt="logo pagina"></a>
        <div class="header-listado">
            <div><a href="/productos">Listado de productos</a></div>
        </div>
        <form action="/productos/" method="get">
            <div class="header-barra-busqueda"> 
                <label for="busqueda"></label>
                <input type="text" name="busqueda" id="busqueda" placeholder="Busca un producto!">
                <button class="header-barra-busqueda-boton" type="submit"><img class="header-barra-busqueda-icono" src="/images/index/lupa-busqueda.svg" alt="icono lupa"></button>
            </div>
        </form>
        <nav><a href="/productos/carrito"><img class="header-icono" src="/images/index/carrito-de-compras.svg" alt="Carrito de compras"></a></nav>
        <nav><a href="/users/login"><img class="header-icono" src="/images/index/user.svg" alt="Usuario"></a></nav>
        <section>
            <div id="menuLateral">
                <ul class="ul-generos">
                    <li><button class="boton-categoria">Hombres</button></li>
                    <li><button class="boton-categoria">Mujeres</button></li>
                    <li><button class="boton-categoria">Infantil</button></li>
                </ul>
                <ul id="menuLateral-categorias"></ul>
            </div>
        </section>
    </div>
    <script src="/js/homeMenuLateral.js"></script>
</header>