<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Página no encontrada</title>
</head>
<body>
    <main>
        <div class="container">
            <h2>Parece que la página solicitada no existe!</h2><br>
            <p>Te recomiendo volver a escribir la ruta, o bien, volver al inicio apretando aqui:</p><br>
            <a href="/">Inicio</a>
        </div>
    </main>
</body>
</html>