<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Página no encontrada</title>
</head>
<body>
    <main>
        <div class="container">
            <h2>No tienes permisos para ingresar a este enlace!</h2><br>
            <p>Te recomiendo chequear que la cuenta que estas usando tenga los permisos necesarios, o bien, volver al login apretando aqui:</p><br>
            <a href="/users/login">Inicio</a>
        </div>
    </main>
</body>
</html>