<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Register.css">
    <title>Todo deportes</title>
</head>

<body>
    <%- include("../partials/headerUsers") %>
    <main>
        <h1>Unite a nosotros!</h1>
        <form action="/users/register" method="post" class="formulario-container">
            <div class="formulario-container-div-texto">
                <label for="txtName">Nombre</label>
                <input type="text" name="txtName" id="txtName" placeholder="Nombre completo" required>
            </div>
            <div class="formulario-container-div-texto">
                <label for="txtSurname">Apellido</label>
                <input type="text" name="txtSurname" id="txtSurname" placeholder="Apellido" required>
            </div>
            <div class="formulario-container-div-texto">
                <label for="txtMail">Email</label>
                <input type="email" name="txtMail" id="txtMail" placeholder="Email" required>
            </div>
            <div class="formulario-container-div-texto">
                <label for="txtUser">Nombre de usuario</label>
                <input type="text" name="txtUser" id="txtUser" placeholder="Usuario" required minlength="6">
            </div>
            <div class="formulario-container-div-texto">
                <label for="txtPassword">Contraseña</label>
                <input type="password" name="txtPassword" id="txtPassword" placeholder="Contraseña" required minlength="6">
                <input type="password" name="txtRePassword" id="txtPassword" placeholder="Repetir contraseña" required minlength="6">
            </div>
            <div class="formulario-container-div-texto">
                <label for="dateCumple">Fecha de nacimiento</label>
                <input type="date" name="dateCumple" id="dateCumple">
            </div>
            <div class="formulario-container-div-radio-sex">
                <label for="radioSex">Sexo</label>
                <div>Hombre<input type="radio" name="radioSex" id="radioSex" value="Man"></div>
                <div>Mujer<input type="radio" name="radioSex" id="radioSex" value="Woman"></div>
                <div>Otro<input type="radio" name="radioSex" id="radioSex" value="Other"></div>
            </div>
            <div class="formulario-container-div-texto">
                <label for="numberTel">Teléfono</label>
                <input type="tel" name="numberTel" id="numberTel" placeholder="Teléfono" required minlength="8">
            </div>
            <div class="formulario-container-div-texto">
                <label for="optProvincias">Provincia de residencia</label>
                <select name="optProvincias" id="optProvincias" required>
                    <option value="baires">Buenos Aires</option>
                    <option value="caba">CABA</option>
                    <option value="cat">Catamarca</option>
                    <option value="cha">Chaco</option>
                    <option value="chu">Chubut</option>
                    <option value="cba">Córdoba</option>
                    <option value="corr">Corrientes</option>
                    <option value="eRio">Entre Ríos</option>
                    <option value="for">Formosa</option>
                    <option value="ju">Jujuy</option>
                    <option value="lPam">La Pampa</option>
                    <option value="lRio">La Rioja</option>
                    <option value="mdz">Mendoza</option>
                    <option value="mis">Misiones</option>
                    <option value="neu">Neuquén</option>
                    <option value="rNeg">Río Negro</option>
                    <option value="sal">Salta</option>
                    <option value="sJua">San Juan</option>
                    <option value="sLui">San Luis</option>
                    <option value="sCruz">Santa Cruz</option>
                    <option value="sFe">Santa Fe</option>
                    <option value="stg">Santiago del Estero</option>
                    <option value="tie">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                    <option value="tuc">Tucumán</option>
                </select>
            </div>
            <div class="formulario-container-div-texto">
                <label for="txtAddress">Domicilio</label>
                <input type="text" name="txtStreet" id="txtAddress" placeholder="Calle y número" required>
                <input type="text" name="txtFloor" id="txtAddress" placeholder="Piso">
                <input type="text" name="txtPostal" id="txtAddress" placeholder="Codigo Postal" required>
            </div>
            <div class="formulario-container-div-checkbox-newsletter">
                <label for="chkNewsletter">Desea suscribirse a nuestro Newsletter?</label>
                <input type="checkbox" name="chkNewsletter" id="chkNewsletter" value="true" checked>
            </div>
            <div class="formulario-container-div-checkbox-terms">
                <label for="chkTerms">
                    Al hacer clic en Registrarme aceptás las <a href="/">condiciones</a>, <a href="/">políticas de datos</a> y <a href="">políticas de cookies</a>.
                </label>
                <input type="checkbox" name="chkTerms" id="chkTerms" value="chkTermsAccept">
            </div>
            <div class="formulario-container-div-botones">
                <button type="submit">Registrarme</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <%- include("../partials/footerUsers") %>
</body>
</html>